**/__pycache__
runs/
.vscode/
mask_vis_output/
finetune.sh
test.sh
vis_output/

rerfcocog_umd_test_questions.txt
requirements.txt
requirements_lisa.txt
model/LISA.py
eval_refer_seg.py
eval_refer_seg.sh
LICENSE
test_lisa.sh
train_ds.py
app.py